<div class="card">
  My standalone Angular component running Angular {{ version }}
  <p>
    <button (click)="sendMessage()">Send message - Clone</button>
  </p>
  <p>Text: {{ inputText }}</p>
  <p>User ID: {{ inputUserId }}</p>
  <p>Load <b>{{ user && user.username }}</b> - Then Show in Host</p>
  <hr>
</div>
<div *ngIf="user">
  <div class="user-card">
    <div class="card-header">
      <h2>{{ user.username }}</h2>
      <div class="username">{{ user.name }}</div>
    </div>
  
    <div class="info-section">
      <div class="info-label">Contact</div>
      <div class="info-content">
        <div>{{ user.email }}</div>
        <div>{{ user.phone }}</div>
        <div>{{ user.website }}</div>
      </div>
    </div>
  </div>
  
</div>
